---
# OWASP ZAP automation config
#   https://www.zaproxy.org/docs/automate/automation-framework/
#   https://www.zaproxy.org/docs/desktop/addons/automation-framework/environment/

env:

  contexts:
    - name: baseline
      urls:
        {% for ep_url in endpoints %}
        - {{ ep_url }}
        {% endfor %}
      excludePaths:
        {{ exclude_paths|to_yaml|indent(8, false) }}
      # authentication:   # TBA: In time to cover all auth configs
      # sessionManagement:

  parameters:
    failOnError: true
    failOnWarning: false
    progressToStdout: true

jobs:

  - type: "script"
    name: "script"
    parameters:
      action: "add"
      type: "httpsender"
      engine: "jython"
      name: "hsendr.py"
      file: "/zap/wrk/hsendr.py"

{% if oas is defined %}
  - type: openapi
    name: openapi
    parameters:
      {% if oas.file is defined %}
      apiFile: {{ oas.file }}
      {% endif %}
      {% if oas.url is defined %}
      apiUrl: {{ oas.url }}
      {% endif %}
      targetUrl: {{ endpoints[0] }}
{% endif %}

  - type: passiveScan-config
    name: passiveScan-config
    parameters:
      maxAlertsPerRule: 10             # Int: Maximum number of alerts to raise per rule
      scanOnlyInScope: true
      # maxBodySizeInBytesToScan:        # Int: Maximum body size to scan, default: 0 - will scan all messages
      enableTags: false                # Bool: Enable passive scan tags, default: false - enabling them can impact performance
      # disableAllRules: false           # Bool: If true then will disable all rules before applying the settings in the rules section
      ## # scanFuzzerMessages: false  # (actual??)
    {% if exclude_alerts %}
    rules:
    {% for alert_id in exclude_alerts %}
    - id: {{ alert_id }}
      threshold: Off
    {% endfor %}
    {% endif %}

  - type: spider
    name: spider
    parameters:
      # context:                         # String: Name of the context to spider, default: first context
      # user:                            # String: An optional user to use for authentication, must be defined in the env
      # url:                             # String: Url to start spidering from, default: first context URL
      maxDuration: 35
      maxDepth: 3
      # maxChildren:                     # Int: The maximum number of children to add to each node in the tree
      # acceptCookies:                   # Bool: Whether the spider will accept cookies, default: true
      # handleODataParametersVisited:    # Bool: Whether the spider will handle OData responses, default: false
      # handleParameters:                # Enum [ignore_completely, ignore_value, use_all]: How query string parameters are used when checking if a URI has already been visited, default: use_all
      # maxParseSizeBytes:               # Int: The max size of a response that will be parsed, default: 2621440 - 2.5 Mb
      # parseComments:                   # Bool: Whether the spider will parse HTML comments in order to find URLs, default: true
      # parseGit:                        # Bool: Whether the spider will parse Git metadata in order to find URLs, default: false
      # parseRobotsTxt:                  # Bool: Whether the spider will parse 'robots.txt' files in order to find URLs, default: true
      # parseSitemapXml:                 # Bool: Whether the spider will parse 'sitemap.xml' files in order to find URLs, default: true
      # parseSVNEntries:                 # Bool: Whether the spider will parse SVN metadata in order to find URLs, default: false
      # postForm:                        # Bool: Whether the spider will submit POST forms, default: true
      # processForm:                     # Bool: Whether the spider will process forms, default: true
      # requestWaitTime:                 # Int: The time between the requests sent to a server in milliseconds, default: 200
      # sendRefererHeader:               # Bool: Whether the spider will send the referer header, default: true
      # threadCount:                     # Int: The number of spider threads, default: 2
      userAgent: 'zonder'

  ## https://www.zaproxy.org/docs/desktop/addons/ajax-spider/automation/
  - type: spiderAjax
    name: spiderAjax
    parameters:
      # context:                         # String: Name of the context to spider, default: first context
      # user:                            # String: An optional user to use for authentication, must be defined in the env
      # url:                             # String: Url to start spidering from, default: first context URL
      maxDuration: 55
      maxCrawlDepth: 4
      numberOfBrowsers: 2
      # runOnlyIfModern:                 # Boolean: If true then the spider will only run if a "modern app" alert is raised, default: false
      inScopeOnly: true
      # browserId:                       # String: Browser Id to use, default: firefox-headless
      # clickDefaultElems:               # Bool: When enabled only click the default element: 'a', 'button' and 'input', default: true
      # clickElemsOnce:                  # Bool: When enabled only click each element once, default: true
      eventWait: 1400
      maxCrawlStates:                  # Int: The maximum number of crawl states the crawler should crawl, default: 0 unlimited
      # randomInputs:                    # Bool: When enabled random values will be entered into input element, default: true
      reloadWait: 1400
      # elements:                        # A list of HTML elements to click - will be ignored unless clickDefaultElems is false
      # - "a"
      # - "button"
      # - "input"
      # excludedElements:                 # A list of HTML elements to exclude from click.
      #   - description: "Logout Button"  # String: Description of the exclusion.
      #     element: "button"             # String: Name of the element.
      #     xpath:                        # String: XPath of the element, optional.
      #     text:                         # String: Text of the element (exact match and case sensitive), optional.
      #     attributeName: "aria-label"   # String: Name of the attribute, optional unless the value is provided.
      #     attributeValue: "Logout"      # String: Value of the attribute, optional unless the name is provided.

  - type: passiveScan-wait
    name: passiveScan-wait
    parameters:
      maxDuration: 0

{% if not disable_active_scan %}
  - type: activeScan
    name: activeScan
    parameters:
      # context:                         # String: Name of the context to attack, default: first context
      # user:                            # String: An optional user to use for authentication, must be defined in the env
      # policy:                          # String: Name of the scan policy to be used, default: Default Policy
      maxRuleDurationInMins: 25
      maxScanDurationInMins: 444
      addQueryParam: true
      # defaultPolicy:                   # String: The name of the default scan policy to use, default: Default Policy
      # delayInMs:                       # Int: The delay in milliseconds between each request, use to reduce the strain on the target, default 0
      # handleAntiCSRFTokens:            # Bool: If set then automatically handle anti CSRF tokens, default: false
      # injectPluginIdInHeader:          # Bool: If set then the relevant rule Id will be injected into the X-ZAP-Scan-ID header of each request, default: false
      scanHeadersAllRequests: true
      # threadPerHost:                   # Int: The max number of threads per host, default: 2
      # maxAlertsPerRule:                # Int: Maximum number of alerts to raise per rule, default: 0 unlimited
    {% if exclude_alerts %}
    policyDefinition:
      rules:
      {% for alert_id in exclude_alerts %}
      - id: {{ alert_id }}
        threshold: Off
      {% endfor %}
    {% endif %}
{% endif %}

  - type: outputSummary
    name: outputSummary
    parameters:
      {# summaryFile: /zap/wrk/zap_out.json #}
      {# summaryFile: /zap/wrk/out/{{ job_id }}--zap_out.json #}
      summaryFile: {{ out_dir }}/{{ zap_reportfile }}.zap_out.json
      format: Long # NONE Long

  - type: report
    name: report
    parameters:
      displayReport: false
      template: traditional-json-plus
      theme: null
      reportDir: {{ out_dir }}
      reportFile: {{ zap_reportfile }}
    sites:
    - {{ zap_site }}
    {#
    {% for ep_url in endpoints %}
    - {{ ep_url|ep2zapsite }}
    {% endfor %}
    #}
