
{% if proxy is defined %}
connection.proxyChain.enabled=true
connection.proxyChain.hostName={{proxy.host}}
connection.proxyChain.port={{proxy.port}}
{% if proxy.username is defined %}
connection.proxyChain.userName={{proxy.username}}
connection.proxyChain.password={{proxy.password}}
connection.proxyChain.authEnabled=true
{% endif %}
{% endif %}

api.addrs.addr.name=.*
api.addrs.addr.regex=true
api.disablekey=true
